<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vue development version -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Vue production version -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet"> 

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- main style -->
    <link rel="stylesheet" href="./css/styles.css">
    <title>Nex Gen</title>
</head>
<body>

    <div id="app">
        <header>
            <div class="contact container">
                <div class="left">
                    <i class="fas fa-clock"></i>
                    Open Hours: {{ OpenHours.openDay }} - {{ OpenHours.closeDay }} - {{ OpenHours.openHour }} - {{ OpenHours.closeHour }}
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fas fa-phone-alt"></i>
                                {{ phoneNumber }}
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-envelope"></i>
                                {{ mail }}
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
    
                    </ul>
                </div>
            </div>

        </header>

        <!-- hero -->
        <div class="hero">
            <div class="filter">
            </div>
            <div class="all-hero container">
                <!-- navbar -->
                <nav>
                    <div class="left">
                        <div class="logo">
                            <div class="nex">N E X</div>
                            <div class="gen">G E N</div>
                        </div>
                    </div>
                    <div class="right">
                        <ul></ul>
                            <li v-for="element in menu">
                                {{ element.name }}
                            </li>
                            <li>
                                <button class="btn btn-primary">
                                    get in touch
                                </button>

                            </li>
                        </ul>
                    </div>
                </nav>
    
                <!-- lead costumer -->
                <div class="intro">

                    <h1>Lead ~ Customer</h1>
                    <p>Successful strategies require data analysis, creativity and customers focus, taking advantage of the latest technologies to offer excellent services.</p>
                    <div class="bottom">
                        <button class="btn btn-primary">get in touch</button>
                        <button class="btn btn-secondary">read more</button>
                    </div>
    
                </div>
            </div>

        </div>

        <!-- three box of advantages -->
        <div class="advantages">
            <div class="boxes container">
                <div class="box">
                    <div class="cover-icon">
                        <i class="fas fa-user-friends"></i>
                    </div>
                    <h3>Human Capital</h3>
                    <p>Humanizing business: Harness the power of technology to improvise the way people work.</p>
                </div>
                <div class="box">
                    <div class="cover-icon">
                        <i class="fas fa-chart-pie"></i>
                    </div>
                    <h3>Core Business</h3>
                    <p>It takes innovative approaches to transform, modernize, and run existing platforms.</p>
                </div>
                <div class="box">
                    <div class="cover-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    <h3>Performance</h3>
                    <p>Achieving maximum impact and value from investments in finance and supply chain.</p>
                </div>


            </div>
        </div>

        <!-- about the network -->
        <div class="about container">
            <div class="left">
                <h4>About the network</h4>
                <h2>
                    <span class="highlight">The</span>
                    Company
                </h2>
                <p>For 12 years we have been providing audit and warranty, financial advice, risk advice, taxes and related services to select clients.</p>

                <!-- boxes -->
                <div class="boxes">
                    <div class="box">
                        <h3>
                            <i class="fas fa-certificate"></i>
                            Tradition
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="box">
                        <h3>
                            <i class="fas fa-lock"></i>                            
                            Security
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="box">
                        <h3>
                            <i class="far fa-edit"></i>
                            Certificate
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="box">
                        <h3>
                            <i class="fas fa-graduation-cap"></i>
                            Expertise
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                </div>
                <div class="grid top">
                    <i  v-for="n in 36" class="fas fa-circle"></i>
                </div>

                <div class="grid bottom">
                    <i  v-for="n in 36" class="fas fa-circle"></i>
                </div>

                <!-- right image -->
                <div class="image"></div>
            </div>
        </div>

        <!-- business area -->
        <div class="business white-rgba">
            <div class="container">
                <h4>our business areas</h4>
                <h2>Excellence in 
                    <span class="highlight">Services</span>
                </h2>
                <div class="text-btn">
                    <p>We are leaders in providing consultancy services with a set of cutting-edge technologies and a team of experienced and renowned professionals. These are some options that you can hire.</p>
                    <button class="btn btn-secondary">see all</button>
                </div>
                <div class="boxes">
                    <div class="box">
                        <i class="fas fa-project-diagram green"></i>
                        <h3 class="white">Audit & Assurance</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn btn-secondary">read more</button>
                    </div>
                    <div class="box">
                        <i class="fas fa-briefcase green"></i>
                        <h3 class="white">Financial Advisory</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn btn-secondary">read more</button>
                    </div>
                    <div class="box">
                        <i class="fas fa-chart-bar green"></i>
                        <h3 class="white">Analytics and M&A</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn btn-secondary">read more</button>
                    </div>
                    <div class="box">
                        <i class="fas fa-plane-departure green"></i>
                        <h3 class="white">Middle Marketing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn btn-secondary">read more</button>
                    </div>
                    <div class="box">
                        <i class="fas fa-globe green"></i>
                        <h3 class="white">Legal Consulting</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn btn-secondary">read more</button>
                    </div>
                    <div class="box">
                        <i class="fas fa-inbox green"></i>
                        <h3 class="white">Regulatory Risk</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <button class="btn btn-secondary">read more</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- pricing table -->
        <div class="pricing">
            <div class="container">
                <h4>Monthly plan</h4>
                <h2>
                    <span class="highlight">Pricing</span>
                    Table
                </h2>
                <p>We can help you deliver and execute your future, wherever you compete, using the latest technologies, from strategy development to implementation</p>
                <div class="boxes">
                    <div v-for="plan in plans" class="box">
                        <i :class="`green ${plan.icon}`"></i>
                        <h2>{{ plan.name }}</h2>
                        <div class="price green">
                            $ 
                            <div class="number">
                                {{ plan.cost }}
                            </div>
                            <small>
                                 /mouth
                            </small>
                        </div>
                        <ul>
                            <li v-for="feature in plan.features">
                                <div class="name">
                                    {{ feature.name }}
                                </div>
                                <div class="status">
                                    <i v-if="feature.status" class="green fas fa-check"></i>
                                    <i v-else class="green fas fa-times"></i>
                                </div>
                            </li>
                        </ul>
                        <div v-if="plan.popular" class="popular">
                            Most Popular
                        </div>
                    </div>


                </div>
            </div>

        </div>

        <!-- news -->
        <div class="news">
            <div class="container">
                <h4>our editorial content</h4>
                <h2>Latest
                    <span class="highlight">News</span>
                </h2>
                <div class="text-btn">
                    <p>Every week we publish content about what is best in te business world.</p>
                    <button class="btn btn-primary">see all</button>
                </div>
                <div class="boxes">
                    <div class="box">
                        <div class="filter"></div>
                        <h3 class="white">Increasing creativity is possible for everyone</h3>
                        <div class="top white-rgba">
                            <div class="name">
                                <i class="far fa-user"></i>
                                Andrea Miller
                            </div>
                            <div class="access">
                                <i class="far fa-clock"></i>
                                2 Days Ago
                            </div>
                        </div>
                        <p class="white-rgba">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    </div>
                    <div class="box">
                        <div class="filter">
                            <h3 class="white">Because market research is part of the business plan</h3>
                            <div class="top white-rgba">
                                <div class="name">
                                    <i class="far fa-user"></i>
                                    Andrea Miller
                                </div>
                                <div class="access">
                                    <i class="far fa-clock"></i>
                                    2 Days Ago
                                </div>
                                </div>
                            <p class="white-rgba">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="filter"></div>
                        <h3 class="white">Working from home is now a trend</h3>
                        <div class="top white-rgba">
                            <div class="name">
                                <i class="far fa-user"></i>
                                Andrea Miller
                            </div>
                            <div class="access">
                                <i class="far fa-clock"></i>
                                2 Days Ago
                            </div>
                        </div>
                        <p class="white-rgba">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                    </div>

                </div>
            </div>

        </div>

        <!-- newsletter -->
        <div class="newsletter">

        </div>

        <!-- contacts and send message -->
        <div class="contacts">

        </div>

        <!-- footer -->
        <footer>
            
        </footer>

    </div>



    <script src="./js/main.js"></script>
</body>
</html>