<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Vue development version -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- Vue production version -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2"></script> -->

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet"> 

    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- main style -->
    <link rel="stylesheet" href="./css/styles.css">
    <title>Nex Gen</title>
</head>
<body>

    <div id="app">
        <header>
            <div class="contact container">
                <div class="left">
                    <i class="fas fa-clock"></i>
                    Open Hours: {{ OpenHours.openDay }} - {{ OpenHours.closeDay }} - {{ OpenHours.openHour }} - {{ OpenHours.closeHour }}
                </div>
                <div class="right">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fas fa-phone-alt"></i>
                                {{ phoneNumber }}
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fas fa-envelope"></i>
                                {{ mail }}
                            </a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
    
                    </ul>
                </div>
            </div>

        </header>

        <!-- hero -->
        <div class="hero">
            <div class="filter">
                <div class="all-hero container">
                    <!-- navbar -->
                    <nav>
                        <div class="left">
                            <div class="logo">
                                <div class="nex">N E X</div>
                                <div class="gen">G E N</div>
                            </div>
                        </div>
                        <div class="right">
                            <ul></ul>
                                <li v-for="element in menu">
                                    {{ element.name }}
                                </li>
                                <li>
                                    <button class="btn btn-primary">
                                        get in touch
                                    </button>

                                </li>
                            </ul>
                        </div>
                    </nav>
        
                    <!-- lead costumer -->
                    <div class="intro">

                        <h1>Lead ~ Customer</h1>
                        <p>Successful strategies require data analysis, creativity and customers focus, taking advantage of the latest technologies to offer excellent services.</p>
                        <div class="bottom">
                            <button class="btn btn-primary">get in touch</button>
                            <button class="btn btn-secondary">read more</button>
                        </div>
        
                    </div>
                </div>

            </div>
        </div>

        <!-- three box of advantages -->
        <div class="advantages">
            <div class="all-advantage container">
                <div class="box">
                    <div class="cover-icon">
                        <i class="fas fa-user-friends"></i>
                    </div>
                    <h3>Human Capital</h3>
                    <p>Humanizing business: Harness the power of technology to improvise the way people work.</p>
                </div>
                <div class="box">
                    <div class="cover-icon">
                        <i class="fas fa-chart-pie"></i>
                    </div>
                    <h3>Core Business</h3>
                    <p>It takes innovative approaches to transform, modernize, and run existing platforms.</p>
                </div>
                <div class="box">
                    <div class="cover-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    <h3>Performance</h3>
                    <p>Achieving maximum impact and value from investments in finance and supply chain.</p>
                </div>


            </div>
        </div>

        <!-- about the network -->
        <div class="about container">
            <div class="left">
                <h4>About the network</h4>
                <h2>
                    <span>The</span>
                    Company
                </h2>
                <p>For 12 years we have been providing audit and warranty, financial advice, risk advice, taxes and related services to select clients.</p>

                <div class="boxes">
                    <div class="box">
                        <h3>
                            <i class="fas fa-certificate"></i>
                            Tradition
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="box">
                        <h3>
                            <i class="fas fa-lock"></i>                            
                            Security
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="box">
                        <h3>
                            <i class="far fa-edit"></i>
                            Certificate
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="box">
                        <h3>
                            <i class="fas fa-graduation-cap"></i>
                            Expertise
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <div class="grid top">
                    <i  v-for="n in 36" class="fas fa-circle"></i>
                </div>

                <div class="grid bottom">
                    <i  v-for="n in 36" class="fas fa-circle"></i>
                </div>




                <div class="image">

                </div>
            </div>
            <!-- <div class="right">
                <div class="image"></div>

            </div> -->

        </div>

        <!-- business area -->
        <div class="business">

        </div>

        <!-- pricing table -->
        <div class="pricing">

        </div>

        <!-- news -->
        <div class="news">

        </div>

        <!-- newsletter -->
        <div class="newsletter">

        </div>

        <!-- contacts and send message -->
        <div class="contacts">

        </div>

        <!-- footer -->
        <footer>
            
        </footer>

    </div>



    <script src="./js/main.js"></script>
</body>
</html>